/* FILEPATH: /Users/Gordon/Desktop/firebase-react-image-upload/showcase-site/photo-showcase/src/components/Footer.css */

.footer {
    width: 100%;
    background-color: #f8f8f8;
    color: #333;
    text-align: center;
    padding: 20px;
}
